<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrdVenta01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrdVenta01.Properties.Settings.MIKO2016ConnectionString"
            connectionString="Data Source=192.168.100.251;Initial Catalog=MIKO2016;Persist Security Info=True;User ID=sa;Password=Softland320"
            providerName="System.Data.SqlClient" />
        <add name="OrdVenta01.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.100.251;Persist Security Info=True;User ID=sa;Password=Softland320"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OrdVenta01.Properties.Settings>
            <setting name="Ventas" serializeAs="String">
                <value>N</value>
            </setting>
        </OrdVenta01.Properties.Settings>
    </applicationSettings>
</configuration>