<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrdVenta01.Properties.Settings.MIKO2016ConnectionString"
            connectionString="Data Source=192.168.100.251;Initial Catalog=MIKO2016;Persist Security Info=True;User ID=sa;Password=Softland320"
            providerName="System.Data.SqlClient" />
        <add name="OrdVenta01.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.100.251;Persist Security Info=True;User ID=sa;Password=Softland320"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>